name: Run Rqalpha Backtest

on:
  workflow_dispatch:
    inputs:
      strategy_category:
        description: 'strategy category'
        required: true
        default: 'rotation_strategy'
      strategy_name:
        description: 'strategy name'
        required: true
        default: 'rs_m_ind'
      backtest_type:
        description: 'param_optimize or period_test'
        required: true
        default: 'param_optimize'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Initialization environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo -E apt-get -qq update
        sudo -E apt-get -qq install sshpass

    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: 3.9

    - name: Install python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install rqalpha pandas
        rqalpha download-bundle

    - name: Run backtest python file
      run: |
        export PYTHONPATH=$PYTHONPATH:$PWD
        python -u ./backtest/${{ github.event.inputs.strategy_category }}/bt/${{ github.event.inputs.strategy_name }}/${{ github.event.inputs.strategy_name }}.py

    - name: Upload report to Home Server
      run: |
        find ./backtest/${{ github.event.inputs.strategy_category }}/bt_report/${{ github.event.inputs.strategy_name }}/${{ github.event.inputs.backtest_type }} -name "*.pkl" -depth -exec rm {} \; 
        tar -czf report_`date +%F`.tar.gz ./backtest/${{ github.event.inputs.strategy_category }}/bt_report/${{ github.event.inputs.strategy_name }}/${{ github.event.inputs.backtest_type }}
        sshpass -p ${{ secrets.HOME_SERVER_PASS }} scp -P ${{ secrets.HOME_SERVER_PORT }} -o StrictHostKeyChecking=no ./report_`date +%F`.tar.gz ${{ secrets.HOME_SERVER_USERNAME }}@${{ secrets.HOME_SERVER_ADDRESS }}:/home/layewang/Downloads
